@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ASP.NET Core 8.0.8. This app was pushed to DockerHub</a>.</p>
    <p>Jenkins pipeline test 12.09.2024 13:20</a>.</p>
</div>
